@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    UET Lahore (Main Campus)<br />
    G.T Road, Staff Houses Engineering University Lahore, Lahore, Punjab 54890<br />
    <abbr title="Phone">P:</abbr>
    (042) 99029227
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">m.hamza.arif786@gmail.com</a><br />
</address>