@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Digitized Lecture System</h1>
    <p class="lead text-center">Digitized Lecture System is an Innovative way of Lecture Sharing System that provides an easy and convenient way for Student/Teacher Interaction</p>
    <p class="text-center"><a href="@Url.Action("Create","Person")" class="btn btn-primary btn-lg">Getting Started &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>How It Works</h2>
        <p>
            Lectures are Uploaded on our site and a registered user can view them. The Teacher can Annotate them. You can Create a Post of Question or a General Post.
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Fast, Easy and Secure</h2>
        <p>Upload Download and Post Lectures and Posts Easily and Quickly. All Features are Provided at their Best. Upload Download and Post Lectures.</p>
        <!--<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>Interactive Environment</h2>
        <p>Lectures are Uploaded on our site and a registered user can view them. The Teacher can Annotate them. You can Create a Post of Question or a General Post.</p>
        <!--<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>-->
    </div>
</div>