@{
    ViewBag.Title = "Create";
}

<h2>Upload Course Material</h2>

@using (Html.BeginForm("Create", "Resources",
                                                         FormMethod.Post, new { id = "attachment", enctype = "multipart/form-data", encoding = "multipart/form-data" }))
{



    <input type="file" name="uploadFile" id="uploadFile" />
    <br/>
    <input class="btn btn-default" type="submit" value="Uplaod" />

}


